1. Allow to create a list of locations each containing abritary list of GPS coordinates.
1.1 Create a class to hold the gps coordinate and methods required to make calculations(Distance, Bearing, Equality)
1.2 Create a class to hold a range of bearings and determine if a another bearing is within 
1.3 Create abstract class containing the GPS coordinates and methods required to make calculations(Point within polygon, Distance, Bearing range, Closest distance)
1.4 Create a class to hold 2 coordinates that form a bounding box around a location
1.5 Create a class to store a collection of locations and the methods to sort and make iterate through the locations 
2. Determine which location/s if any a specifed GPS corrdinate is within
3. Create a list of locations sorted by distance from a specifed location
4. Create a list of locations within a specifed distance from a specified point
5. Create a list of locations that are located in a specified bearing sorted by distance
6. Monitor GPS activity and send events when gps location is within a location


Deferred to future version
1. Add radial and polyline based locations
2. Add support for locations greater than 180degrees logitude
3. Add latitude normalisation and support locations containing poles
4. Implement Vincenty solutions of geodesics on the ellipsoid for more accurate distance calculations https://www.movable-type.co.uk/scripts/latlong-vincenty.html
5. Add monitoring of orientation sensor and send events when phone is facing a LocationTrigger
6. Add navigation feature for directions to a location