name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore      
    - run: |
        dotnet build LocationTriggering/LocationTriggering.csproj --configuration Release --no-restore
        dotnet build LocationTriggeringXamarinExtentions/LocationTriggeringXamarinExtentions.csproj --configuration Release --no-restore
        dotnet test AutomatedTests/AutomatedTests.csproj --no-restore --verbosity normal
        mkdir ${{ github.workspace }}/package
        dotnet pack LocationTriggering/LocationTriggering.csproj  --no-build -c Release --output "${{ github.workspace }}/package"
        dotnet pack LocationTriggeringXamarinExtentions/LocationTriggeringXamarinExtentions.csproj  --no-build -c Release --output "${{ github.workspace }}/package"
